{
	acme_dns cloudflare {$CLOUDFLARE_API_TOKEN}
}

jellyfin.{$DOMAIN} {
	reverse_proxy jellyfin:8096
}

jellyfin-force-transcode.{$DOMAIN} {
	reverse_proxy jellyfin-proxy:8096
}

sonarr.{$DOMAIN} {
	reverse_proxy sonarr:8989
}

radarr.{$DOMAIN} {
	reverse_proxy radarr:7878
}

prowlarr.{$DOMAIN} {
	reverse_proxy prowlarr:9696
}

qbittorrent.{$DOMAIN} {
	header Cache-Control "no-store, no-cache"
	reverse_proxy qbittorrent:8080
}

bazarr.{$DOMAIN} {
	reverse_proxy bazarr:6767
}

navidrome.{$DOMAIN} {
	reverse_proxy navidrome:4533
}

ha.{$DOMAIN} {
	reverse_proxy homeassistant:8123
}

www.{$DOMAIN} {
	reverse_proxy dashboard:8000
}

pihole.{$DOMAIN} {
	reverse_proxy host.docker.internal:7001
}
